html {
  background-color: black;
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;


  font-family: 'Montserrat', sans-serif;

}

body {
  color: black;
  text-align: center;
}
