html {
  background-color: #5AC167;
  overflow: hidden;

  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Titillium Web', sans-serif;

}

body {
  color: #E2F7E5;
}


#main {
  /* Text design */
  text-align: left;
  text-decoration: none;

  /* Positioning */
  margin: 10% auto auto auto;
  padding: 10px 0 10px 0;
  width: 70%;
}

#name h1 {
  margin: 0;
  font-weight: 600;
}

#name p {
  margin: 0;
}

#current {
  margin: 25px 0 20px 0;
}

#current p {
  margin: 0;
  font-size: 1.3em;
}

#links {
  font-size: 1.3em;
}

#byeDebt, #photography {
  text-decoration: underline;
}

ul {
  padding: 0;
}

li {
  padding-right: 5px;
  list-style-type: none;
  display: inline-block;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #244E2A;
}
