html {
  background-color: black;
  background-image: url("background-phone.jpg");
  background-repeat: no-repeat;
  background-size: auto;

  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Titillium Web', sans-serif;

}

@media screen and (min-width: 660px) {
  html {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

body {
  color: black;
}


#main {

  /* Color and design for card */
  background-color: black;
  border-radius: 20px;
  box-shadow: 0 0 10px black;
  background: rgba(227, 229, 229, 0.80);

  /* Text design */
  text-align: center;
  text-decoration: none;

  /* Positioning */
  margin: 20% auto auto auto;
  padding: 10px 0 10px 0;
  width: 70%;
}

#name h1 {
  margin: 0;
  font-weight: 900;
}

#name p {
  margin: 0;
  font-size: 1.1em;
  font-weight: 100;
}

#current {
  margin: 25px 0 20px 0;
}

#current p {
  margin: 0;
  font-size: 1.5em;
}

#byeDebt {
  font-size: 1.2em;
}

#links {
  font-size: 1.3em;
}

li {
  padding-right: 5px;
  list-style-type: none;
  display:inline-block;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  font-size: 1.25em;
  font-style: 'Courier New';
}
